* {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
}
body{
    background-color: rgb(245, 235, 223);
}

#container {
    display: flex;
    flex-direction: column;
}

/* nav bar css */
#header1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 100px;
    background: url("https://th.bing.com/th/id/OIP.2T83pkPCj_b5VCC-hBeV6gHaEo?w=298&h=185&c=7&r=0&o=5&dpr=1.5&pid=1.7");
    background-size: 100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    z-index:100
}

.nav a {
    position: relative;
    font-size: 20px;
    color: aliceblue;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #FFFF00;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;

}

.nav a:hover::after {
    transform: scaleX(1);
    cursor: pointer;
    color: #FFFF00;
}

/* logo */
#logo {
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(image/back2.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0
    }

}

#logo span {
    font-size: 40px;

}


/* outer div */
#outer{
    width:100%;
    height:auto;
    border:2px solid red;
    display: flex;
}

.left{
    width:69%;
    height:auto;
    border:2px solid blue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


/* div which cointain quantity and delete btn */
.dltRow{
  display:flex;
  justify-content: space-between;
}
.quantity{
    width:40%;
    display: flex;
    justify-content: space-evenly;
}
.quantity button{
    padding:7px;
    border:none;
    border-radius: 50px;
    border-bottom:3px solid black ;

}
.deleteBtn button{
    padding: 5px 20px;
    border: none;
    border-radius: 30px;
    border-bottom: 4px solid black;
}

.left .card{
    
    position: relative;
    max-width: 100%;
    height:250px;
    background-color: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: 0.5s ease-in-out;
}
.left .card:hover{
    height:450px;
    background-color: #ffcc80;

}
.left .card .imgBx{
    position: relative;
    width:220px;
    height:220px;
    top:-40px;
    left:10px;
    z-index:1
    
}
.left .card .imgBx img{
    max-width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.left .card .content{
    position: relative;
    margin-top:-140px;
    padding: 10px 15px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.left .card:hover .content{
     visibility: visible;
     opacity: 1;
     margin-top: -40px;
     transition-delay: 0.3s;
}


/* right side total price side */

.right{
    /* position: fixed; */
    width:29%;
    height:350px;
    border:2px solid rgb(26, 255, 0);
    display:flex;
    flex-direction: column;
    margin-left:10px
}
.heading{
    width:95%;
    height:40px;
    background: #df5e5e;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.total-counting{
    width:95%;
    margin: auto;
    height:250px;
    padding: 10px;
    background: #ffca7a;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.checkoutBtn{
    margin-left: 30%;
    padding:10px 40px;
    border: none;
    background-color: #fff;
    border-radius: 30px;
    border-bottom: 4px solid black;
}
.checkoutBtn:hover{
    background-color: rgb(179, 209, 236);
}







