@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    /* background: linear-gradient(#2196f3,#1539ca); */
    background: url("./image/background.jpg");
    background-size: 100% 100%;
    background-position: center;
    position: relative;
    overflow:hidden 
}
body>div:nth-child(1){
    margin-bottom: 60px;
}
.wrapper{
    position: relative;
    width:400px;
    height:480px;
}
.form-wrapper{
    position:absolute;
    top:0;
    left:0;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
    background:transparent;
    border:2px solid whitesmoke;
    border-radius: 20px;
    backdrop-filter: blur(40px);
    box-shadow:0 0 10px rgba(0, 0, 0, .2);
}
.wrapper.animate-signUp .form-wrapper.sign-in{
    transform:rotate(7deg);
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s
}
.wrapper.animate-signIn .form-wrapper.sign-in{
   
    animation: animateSignIn 1.5s ease-in-out forwards;
    
}
@keyframes animateSignIn {
    0% {
        transform: translatex(0);
    }
    50% {
        transform: translatex(-500px);
    }
   100% {
        transform: translatex(0) rotate(7deg);
    }
}
.wrapper .form-wrapper.sign-up{
    transform: rotate(7deg);
}
.wrapper.animate-signIn .form-wrapper.sign-up{
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}
@keyframes animateRotate {
    0% {
        transform: rotate(7deg);
    }  
    100% {
    transform: rotate(0);
    z-index: 1;
    }
}
.wrapper.animate-signUp .form-wrapper.sign-up{
    animation: animateSignUp 1.5s ease-in-out forwards;

}
@keyframes animateSignUp {
    0% {
        transform: translatex(0);
        z-index: 1;
    }
    50% {
        transform: translatex(500px);
    }
   100% {
        transform: translatex(0) rotate(7deg);
    }
}
h2{
    font-size: 30px;
    color:#111010;
    text-align:center
}
.input-group{
    position:relative;
    width:320px;
    margin:30px 0;
}
.input-group label{
    position:absolute;
    top: 50%;
    left: 5px;
    transform:translateY(-50%);
    font-size:16px;
    color:#333;
    padding:0 5px;
    pointer-events:none;
    transition: .5s;
}
.input-group input{
    width:100%;
    height: 40px;
    font-size: 16px;
    color:#333;
    padding:0 10px;
    background: transparent;
    border: 2px solid whitesmoke;
    border-top: none;
    border-left: none;
    border-right: none;
    outline:none;
    border-radius:5px;

}

.input-group input:focus~label,
.input-group input:valid~label {
    top:0;
    font-size: 12px;
    background:transparent;
    backdrop-filter: blur(20px);
}
.forgot-pass {
    margin: -15px 0 15px;
}

.forgot-pass a{
    color:#0a0a0a;
    font-size: 14px;
    text-decoration:none;
}
.forgot-pass a:hover{
    text-decoration: underline;
}
.btn{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:40px;
    /* background: linear-gradient(to right,#2196f3,#2418cb); */
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    font-size: 16px;
    color:black;
    font-weight:500;
    cursor:pointer;
    border-radius: 5px;
    border:none;
    outline:none;
    overflow: hidden;
    z-index: 1;
    transition: 0.4s;
}

.sign-link{
    font-size:14px;
    text-align: center;
    margin:25px 0;
}
.sign-link p{
    color:#333
}
.sign-link p a{
    color:#e91e63;
    text-decoration: none;
    font-weight:600
}
.sign-link p a :hover{
    text-decoration: underline;
} 
/* notification button */
button{
    padding:20px 30px;
    font-size: 25px;
    border-radius: 30px;
    color:green;
    border:none;
    margin-top:-50px;
    display:none
}
/* eye icon  */
.input-group .fa-eye-slash{
   position: absolute;
   right:13px;
   top:50%;
   transform: translateY(-50%);
   cursor: pointer;
}
.input-group .fa-eye{
    position: absolute;
   right:13px;
   top:50%;
   transform: translateY(-50%);
   cursor: pointer;
}
/* auto text animation */
#auto-text{
    color:aliceblue
}
#auto-text span{
    color:#FFFF00
}